.button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .columns {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
  }
  
  .column-header {
    margin: 0;
  }
  
  .droppable {
    padding: 4px;
    width: 250px;
    min-height: 500px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .droppable-dragging {
    background: lightblue;
  }
  
  .droppable-default {
    background: lightgrey;
  }
  
  .draggable {
    user-select: none;
    padding: 16px;
    margin: 0 0 8px 0;
    min-height: 50px;
    background-color: #456c86;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .draggable-dragging {
    background-color: #263b4a;
  }
  